body {
  text-align: center;
  padding-top: 5em;
}
.links {
  margin-top: 5em;
}
div a {
  padding: 1em 2em 1em 2em;
  border: 1px solid #333333;
  text-decoration: none;
  font-size: large;
  color: white;
  border-radius: 10px;
}
footer {
  position: absolute;
  top: 95%;
  left: 50%;
}
.to2012 {
  background: #6666FF;
}
.to2012:hover {
  background: #9999FF;
  border: 1px solid #CCCCCC;
}
.to2013 {
  background: #77BB77;
}
.to2013:hover {
  background: #99DD99;
  border: 1px solid #CCCCCC;
}

